<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="property_console">
            %d{HH:mm:ss} %-5level %logger{3} - line %L - method %M - %msg%n
        </Property>
        <Property name="property_file">
            %d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %logger{5} - line %L - method %M - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${property_console}"/>
        </Console>
        <RollingFile name="File" fileName="logs/module2/mod2.log" append="true"
                     filePattern="logs/module2/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}.txt">
            <PatternLayout pattern="${property_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 K"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>